# Archivos generados por Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
.venv/
venv/
env/

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración local de VS Code
.vscode/

# Archivos temporales
*.tmp
*.log

# Archivos de configuración de entorno
.env
.env.local